//Colors
$main-color: #AA00FF;
$second-color: #2196f3;
$gradient-first: rgb(37, 42, 144);
$gradient-second: rgba(156, 39, 176, 1);
$reg-phone: white;
$bg-modal: #404142;
$author: rgb(105, 188, 0);
$genre: rgb(47, 180, 241);
$owner: #B584E0;
//Navigation drawer gradient
$navigation-gradient: linear-gradient(90deg, $gradient-first 0%, $gradient-second 100%);
$user-card-gradient: linear-gradient(0deg, $gradient-first 0%, $gradient-second 100%);